In [1]:
import pandas as pd
import pandasql as ps # type: ignore
from natsort import natsorted # type: ignore
import os

In [2]:
path = '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs'
files = os.listdir(path)
files = [f for f in files if f.endswith('.csv')]
files = natsorted(files)
files = [os.path.join(path, f) for f in files]
files

['/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/1.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/2.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/3.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/4.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/5.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/6.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/7.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/8.csv',
 '/Users/PhanithLIM/Documents/05.Dataset/Speech Recognition/processing/WMC-Internation/clean-logs/9.csv']

In [3]:
list_df = [ pd.read_csv(f) for f in files ]
df = pd.concat(list_df, axis=0)
df = df.reset_index(drop=True)
df = df.drop(columns=['id', 'link'])
df.head(10)

,title,date,author,speaker
0,របាយការណ៍រកឃើញថា ការរាយការណ៍អំពីប្រទេសចិននាំឱ្...,"April 23, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា
1,រដ្ឋសភាអាមេរិកអនុម័តកញ្ចប់ជំនួយ ៩៥ពាន់លានដុល្ល...,"April 22, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា
2,កម្មករចំណាកស្រុកដែលជួយកសាងចិនសម័យទំនើបនៅតែមិនអ...,"April 9, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា
3,ក្នុង​​​ដំណើរ​ថយ​ក្រោយ​សម្រាប់​លោក Erdogan ក្រ...,"April 4, 2024",គីម ចាន់ចាវ,កញ្ញា កែវ សុជាតា
4,ច្បាប់រៀបអាពាហ៍ពិពាហ៍របស់ក្រុម LGBTI+ នៅថៃ ត្រ...,"March 28, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា
5,អាជ្ញាធរជប៉ុនសង្ស័យ ផលិតផលបំប៉នសុខភាពមួយចំនួន ...,"March 28, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា
6,អាជ្ញាធរខេត្តភូកេតប្រទេសថៃដកហូតសិទ្ធិគ្រប់គ្រង...,"March 12, 2024",ឡាក់ ច័ន្ទតារា,កញ្ញា សៃ ចន្ធី
7,រដ្ឋមន្រ្តីការពារជាតិឥណ្ឌូនេស៊ីត្រូវដំឡើងជានាយ...,"February 29, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា
8,រកឃើញក្មេងស្រីអាយុ៣ឆ្នាំនៅមានជីវិត ក្នុងគ្រោះប...,"February 13, 2024",កែវ សុជាតា,កញ្ញា សៃ ចន្ធី
9,UNICEF៖ កុមារជិត ៧ម៉ឺននាក់រួចផុតពីសេចក្តីស្លាប...,"February 12, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា

In [4]:
q1 = '''
SELECT 
    *,
    CASE 
        WHEN speaker LIKE 'កញ្ញា%' THEN 'ស្រី'  
        ELSE 'ប្រុស'
    END AS gender
FROM df; 
'''
df = ps.sqldf(q1, locals())
df.head(10)

,title,date,author,speaker,gender
0,របាយការណ៍រកឃើញថា ការរាយការណ៍អំពីប្រទេសចិននាំឱ្...,"April 23, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី
1,រដ្ឋសភាអាមេរិកអនុម័តកញ្ចប់ជំនួយ ៩៥ពាន់លានដុល្ល...,"April 22, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី
2,កម្មករចំណាកស្រុកដែលជួយកសាងចិនសម័យទំនើបនៅតែមិនអ...,"April 9, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី
3,ក្នុង​​​ដំណើរ​ថយ​ក្រោយ​សម្រាប់​លោក Erdogan ក្រ...,"April 4, 2024",គីម ចាន់ចាវ,កញ្ញា កែវ សុជាតា,ស្រី
4,ច្បាប់រៀបអាពាហ៍ពិពាហ៍របស់ក្រុម LGBTI+ នៅថៃ ត្រ...,"March 28, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី
5,អាជ្ញាធរជប៉ុនសង្ស័យ ផលិតផលបំប៉នសុខភាពមួយចំនួន ...,"March 28, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី
6,អាជ្ញាធរខេត្តភូកេតប្រទេសថៃដកហូតសិទ្ធិគ្រប់គ្រង...,"March 12, 2024",ឡាក់ ច័ន្ទតារា,កញ្ញា សៃ ចន្ធី,ស្រី
7,រដ្ឋមន្រ្តីការពារជាតិឥណ្ឌូនេស៊ីត្រូវដំឡើងជានាយ...,"February 29, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី
8,រកឃើញក្មេងស្រីអាយុ៣ឆ្នាំនៅមានជីវិត ក្នុងគ្រោះប...,"February 13, 2024",កែវ សុជាតា,កញ្ញា សៃ ចន្ធី,ស្រី
9,UNICEF៖ កុមារជិត ៧ម៉ឺននាក់រួចផុតពីសេចក្តីស្លាប...,"February 12, 2024",កែវ សុជាតា,កញ្ញា កែវ សុជាតា,ស្រី

In [5]:
q2 = '''
SELECT COUNT(*) AS count_audio, speaker, 
    CASE 
        WHEN speaker LIKE 'កញ្ញា%' THEN 'ស្រី'
        ELSE 'ប្រុស'
    END AS gender 
FROM df
GROUP BY speaker
'''
result = ps.sqldf(q2, locals())
result

   count_audio             speaker gender
0           25    កញ្ញា កែវ សុជាតា   ស្រី
1            1    កញ្ញា គុជ ស៊ីកុល   ស្រី
2            6   កញ្ញា ងិន ស៊ាងលីម   ស្រី
3           27      កញ្ញា សៃ ចន្ធី   ស្រី
4            2     លោក គីម ចាន់ចាវ  ប្រុស
5            3  លោក ឡាក់ ច័ន្ទតារា  ប្រុស

In [6]:
q3 = f'''
SELECT COUNT(*) AS count, gender
FROM ({q2}) AS derived_table
GROUP BY gender;
'''
result = ps.sqldf(q3, locals())
result

   count gender
0      2  ប្រុស
1      4   ស្រី